body {
  background-color: #fff;
  font-family: "Ubuntu", "Sans serif";
}
body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  outline: none;
}
.container {
  position: relative;
  margin: 0 auto;
  width: 1370px;
  padding-right: 15px;
  padding-left: 15px;
}
.container-wide {
  position: relative;
  width: 100%;
}
.container-narrow {
  position: relative;
  margin: 0 auto;
  width: 1120px;
  padding-right: 15px;
  padding-left: 15px;
}
.flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex-va-center {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.flex-va-bottom {
  -webkit-box-align: flex-end;
  -moz-box-align: flex-end;
  -ms-flex-align: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.flex-justify-between {
  -webkit-box-pack: space-between;
  -moz-box-pack: space-between;
  -ms-flex-pack: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.flex-justify-center {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.flex-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.text-center {
  text-align: center;
}
.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
h1 {
  font-size: 18px;
  color: #58585a;
  text-transform: uppercase;
  margin: 0;
}
h2 {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #58585a;
  margin-bottom: 60px;
}
.tabs__caption {
  list-style: none;
  padding: 0;
  margin-bottom: 50px;
}
.tabs__caption li {
  font-size: 24px;
  color: #ced7e0;
  text-transform: uppercase;
  font-weight: 300;
  cursor: pointer;
  padding-bottom: 13px;
  margin: 0 35px;
}
.tabs__caption li.active {
  padding-left: 18px;
  padding-right: 18px;
  color: #5c7b97;
  font-weight: 600;
  font-size: 30px;
  border-bottom: 2px solid #5c7b97;
}
.tabs__content {
  display: none;
  /* по умолчанию прячем все блоки */
}
.tabs__content.active {
  display: block;
  /* по умолчанию показываем нужный блок */
}
.owl-dots {
  text-align: center;
  margin-top: 30px;
}
.owl-dots .owl-dot {
  margin: 0 10px;
}
.owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  background-color: #ced7e0;
  border-radius: 50%;
}
.owl-dots .owl-dot.active span {
  width: 13px;
  height: 13px;
  background-color: #5d7b98;
}
.owl-carousel .owl-item img {
  width: auto;
}
.inner__top {
  margin-top: 40px;
  margin-bottom: 40px;
}
.breadcrumbs a {
  font-size: 12px;
  color: #cfcfcf;
}
.breadcrumbs a:hover {
  color: #5c7b97;
}
.breadcrumbs span {
  font-size: 12px;
  color: #cfcfcf;
}
.breadcrumbs .current {
  color: #5c7b97;
}
.btn {
  color: #5c7b97;
  border: 1px solid #5c7b97;
  text-transform: uppercase;
  text-align: center;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  padding: 18px 95px;
  width: 298px;
  height: 53px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.btn:hover {
  color: #58585a;
  border: 1px solid #58585a;
}
header {
  padding: 13px 0 10px;
}
header .header-nav ul {
  list-style: none;
  padding: 0;
}
header .header-nav ul li {
  margin-right: 20px;
}
header .header-nav ul li a {
  color: #58585a;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
}
header .header-nav ul li:hover > a {
  color: #5c7b97;
}
header .header-nav ul li.has-submenu {
  position: relative;
}
header .header-nav ul li.has-submenu > .submenu-wrapper {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 15px;
  z-index: 1;
}
header .header-nav ul li.has-submenu > .submenu-wrapper > .submenu {
  background: #f7f0e6;
  padding: 30px;
  width: 200px;
  box-shadow: 0 17px 24px 0 rgba(0, 0, 0, 0.17);
}
header .header-nav ul li.has-submenu > .submenu-wrapper > .submenu > li {
  margin: 8px 0;
}
header .header-nav ul li.has-submenu > .submenu-wrapper > .submenu > li:first-child {
  margin-top: 0;
}
header .header-nav ul li.has-submenu > .submenu-wrapper > .submenu > li:last-child {
  margin-bottom: 0;
}
header .header-nav ul li.has-submenu > .submenu-wrapper > .submenu > li:hover a::before {
  content: "";
  width: 4px;
  height: 100%;
  background: #5c7b97;
  display: inline-block;
  position: absolute;
  top: 0;
  left: -30px;
}
header .header-nav ul li.has-submenu > .submenu-wrapper > .submenu:before {
  content: "";
  position: absolute;
  top: 8px;
  right: 30px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #f7f0e6;
}
header .header-nav ul li.has-submenu::after {
  content: "";
  display: inline-block;
  background-image: url("/img/header-arrows-sprite.png");
  background-repeat: no-repeat;
  background-position: -5px -5px;
  width: 14px;
  height: 9px;
}
header .header-nav ul li.has-submenu:hover > .submenu-wrapper {
  display: block;
}
header .header-nav ul li.has-submenu:hover::after {
  background-position: -29px -5px;
}
header .header-contacts {
  text-align: right;
}
header .header-contacts__tel {
  font-weight: 600;
  color: #58585a;
  font-size: 22px;
}
header .header-contacts__tel:hover {
  color: #5c7b97;
}
header .header-contacts__mail {
  font-size: 12px;
  color: #5c7b97;
  font-weight: 300;
}
header .header-cart__count {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  border-radius: 50%;
  background-color: #5c7b97;
  width: 33px;
  margin: 0 10px;
  height: 33px;
  text-align: center;
  line-height: 33px;
}
header .header-cart__total {
  font-size: 14px;
  font-weight: 600;
  color: #58585a;
}
header .header-cart:hover .header-cart__total {
  color: #5c7b97;
}
.products-header {
  background: #f7f0e6;
  padding: 15px 0;
}
.products-header__product a {
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  color: #5c7b97;
}
.products-header__product a img {
  margin-bottom: 12px;
}
.products-header__product:hover a {
  color: #58585a;
}
footer {
  background: #5c7b97;
  padding: 85px 0 25px;
  color: #fff;
}
footer a {
  color: #fff;
}
footer .footer-col {
  width: 20%;
}
footer .footer-col__title {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  height: 16px;
}
footer .footer__menu {
  padding-left: 0;
  list-style: none;
  margin-top: 15px;
  margin-bottom: 15px;
}
footer .footer__menu li a {
  text-transform: uppercase;
  font-size: 12px;
  display: inline-block;
  margin: 5px 0;
}
footer .footer__contacts {
  margin-top: 15px;
}
footer .footer__contacts a {
  display: inline-block;
  margin-bottom: 12px;
}
footer .footer__contacts .footer__tel {
  font-size: 18px;
  font-weight: 600;
}
footer .footer__contacts .footer__mail {
  font-size: 12px;
  font-weight: 300;
  text-decoration: underline;
}
footer .footer__contacts .footer__address {
  font-size: 12px;
  font-weight: 600;
}
footer .footer__copyright {
  font-size: 12px;
  font-weight: 300;
}
footer a:hover {
  color: #58585a;
}
.main-banner {
  padding: 10px 0 35px;
  width: 100%;
}
.main-banner__row.row-50 {
  height: 50%;
}
.main-banner__col {
  width: 50%;
  background-repeat: no-repeat;
}
.main-banner__col.col-wrapper {
  height: 735px;
}
.main-banner__col a {
  width: 100%;
  height: 100%;
}
.main-banner__col .main-banner__text {
  font-size: 30px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
  height: 100px;
  padding: 20px 30px;
}
.main-banner__col .main-banner__text.center-text {
  background-color: rgba(93, 123, 152, 0.8);
  padding: 0 70px;
  width: 67%;
  min-height: 200px;
}
.main-tabs {
  padding: 35px 0;
}
.catalog-product {
  text-align: center;
}
.catalog-product > a {
  display: block;
}
.catalog-product > a img {
  border: 1px solid #ced7e0;
  max-height: 100%;
  width: auto !important;
  margin: 0 auto;
}
.catalog-product span {
  display: block;
}
.catalog-product__image {
  height: 315px;
}
.catalog-product__name {
  margin-top: 30px;
  color: #363636;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
.catalog-product__avaliable {
  color: #363636;
  font-size: 12px;
  font-weight: 300;
  margin-top: 8px;
  text-transform: uppercase;
}
.catalog-product__price {
  font-size: 30px;
  color: #5c7b97;
  margin-top: 13px;
}
.main-about {
  background: #f7f0e6;
  padding: 80px 0;
  margin-top: 150px;
  margin-bottom: 130px;
  height: 500px;
}
.main-about__h1 {
  margin: 0;
  color: #58585a;
  font-size: 30px;
  font-weight: 600;
}
.main-about p {
  font-size: 18px;
  font-weight: 300;
  color: #58585a;
  margin-bottom: 30px;
}
.main-about__info {
  width: 50%;
}
.main-about__image {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-25%);
}
.instagram {
  margin-bottom: 100px;
}
.instagram__row {
  margin: 15px 0;
}
.instagram__photo {
  width: 260px;
  height: 260px;
}
.instagram__photo.account-info {
  width: 260px;
  height: 260px;
  background: #eff3fa;
}
.instagram__photo.account-info .instagram-icon {
  margin: 0 15px;
}
.instagram__photo.account-info a {
  width: 100%;
  height: 100%;
}
.instagram__photo.account-info .follow {
  text-align: center;
  width: 75px;
}
.instagram__photo.account-info .follow span {
  display: block;
  color: #5c7b97;
  text-transform: uppercase;
}
.instagram__photo.account-info .follow__count {
  font-weight: 600;
  font-size: 18px;
}
.instagram__photo.account-info .follow__title {
  font-weight: 300;
  font-size: 12px;
}
.instagram__photo.text-subscribe {
  transform: rotate(-90deg);
}
.instagram__photo.text-subscribe a {
  transform: translateX(-25%);
}
.instagram__photo.text-subscribe span {
  font-weight: 600;
  font-size: 18px;
  color: #58585a;
  display: block;
  text-align: right;
  text-transform: uppercase;
}
.instagram__photo.text-subscribe .text-subscribe__account {
  color: #5c7b97;
  font-weight: normal;
}
.clients {
  margin-top: 40px;
  margin-bottom: 70px;
}
.clients-slider a img.hover {
  display: none;
}
.clients-slider a:hover img.preview {
  display: none;
}
.clients-slider a:hover img.hover {
  display: block;
}
.catalog-section {
  text-align: center;
  margin-bottom: 60px;
}
.catalog-section > a {
  display: block;
}
.catalog-section__image {
  height: 300px;
}
.catalog-section__image img {
  max-height: 100%;
}
.catalog-section__name {
  margin-top: 30px;
  color: #363636;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
.catalog-section__avaliable {
  color: #363636;
  font-size: 12px;
  font-weight: 300;
  margin-top: 8px;
  text-transform: uppercase;
}
