body {
  background-color: #fff;
  font-family: "Ubuntu", "Sans serif";
  color: #58585a;
}
body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  outline: none;
}
p {
  margin-top: 0;
  line-height: 1.2;
}
p:last-child {
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
iframe {
  display: block;
}
.container {
  position: relative;
  margin: 0 auto;
  width: 1370px;
  padding-right: 15px;
  padding-left: 15px;
}
.container-wide {
  position: relative;
  width: 100%;
}
.container-narrow {
  position: relative;
  margin: 0 auto;
  width: 1120px;
  padding-right: 15px;
  padding-left: 15px;
}
.flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex-va-center {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.flex-va-bottom {
  -webkit-box-align: flex-end;
  -moz-box-align: flex-end;
  -ms-flex-align: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.flex-justify-between {
  -webkit-box-pack: space-between;
  -moz-box-pack: space-between;
  -ms-flex-pack: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.flex-justify-around {
  -webkit-box-pack: space-around;
  -moz-box-pack: space-around;
  -ms-flex-pack: space-around;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.flex-justify-center {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.flex-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-direction-column {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.text-center {
  text-align: center;
}
.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}
.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}
.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}
.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
h1 {
  font-size: 18px;
  color: #58585a;
  text-transform: uppercase;
  margin: 0;
}
h2 {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #58585a;
  margin-bottom: 60px;
}
.tabs__caption {
  list-style: none;
  padding: 0;
  margin-bottom: 50px;
}
.tabs__caption li {
  font-size: 14px;
  color: #ced7e0;
  text-transform: uppercase;
  cursor: pointer;
  padding-bottom: 13px;
  margin: 0 35px;
  position: relative;
  top: 1px;
}
.tabs__caption li.active {
  color: #5c7b97;
  font-weight: 600;
  border-bottom: 2px solid #5c7b97;
}
.tabs__content {
  display: none;
  /* по умолчанию прячем все блоки */
}
.tabs__content.active {
  display: block;
  /* по умолчанию показываем нужный блок */
}
.owl-dots {
  text-align: center;
  margin-top: 30px;
}
.owl-dots .owl-dot {
  margin: 0 10px;
}
.owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  background-color: #ced7e0;
  border-radius: 50%;
}
.owl-dots .owl-dot.active span {
  width: 13px;
  height: 13px;
  background-color: #5d7b98;
}
.owl-carousel .owl-item img {
  width: auto;
}
.inner {
  margin-bottom: 30px;
}
.inner__top {
  margin-top: 40px;
  margin-bottom: 40px;
}
.breadcrumbs a {
  font-size: 12px;
  color: #cfcfcf;
}
.breadcrumbs a:hover {
  color: #5c7b97;
}
.breadcrumbs span {
  font-size: 12px;
  color: #cfcfcf;
}
.breadcrumbs .current {
  color: #5c7b97;
}
.btn {
  color: #5c7b97;
  border: 1px solid #5c7b97;
  text-transform: uppercase;
  text-align: center;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  padding: 18px 95px;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  transition: 0.2s all;
  cursor: pointer;
  background-color: transparent;
}
.btn:hover {
  color: #58585a;
  border: 1px solid #58585a;
}
.btn.to-cart {
  background-color: #5c7b97;
  color: #fff;
  width: 100%;
}
.btn.to-cart:hover {
  border: 1px solid #5c7b97;
  box-shadow: 0 18px 32px 0 rgba(0, 0, 0, 0.2);
}
header {
  padding: 13px 0 10px;
}
header .header-nav ul {
  list-style: none;
  padding: 0;
}
header .header-nav ul li {
  margin-right: 20px;
}
header .header-nav ul li a {
  color: #58585a;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
}
header .header-nav ul li:hover > a {
  color: #5c7b97;
}
header .header-nav ul li.has-submenu {
  position: relative;
}
header .header-nav ul li.has-submenu > .submenu-wrapper {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 15px;
  z-index: 1;
}
header .header-nav ul li.has-submenu > .submenu-wrapper > .submenu {
  background: #f7f0e6;
  padding: 30px;
  width: 200px;
  box-shadow: 0 17px 24px 0 rgba(0, 0, 0, 0.17);
}
header .header-nav ul li.has-submenu > .submenu-wrapper > .submenu > li {
  margin: 8px 0;
}
header .header-nav ul li.has-submenu > .submenu-wrapper > .submenu > li:first-child {
  margin-top: 0;
}
header .header-nav ul li.has-submenu > .submenu-wrapper > .submenu > li:last-child {
  margin-bottom: 0;
}
header .header-nav ul li.has-submenu > .submenu-wrapper > .submenu > li:hover a::before {
  content: "";
  width: 4px;
  height: 100%;
  background: #5c7b97;
  display: inline-block;
  position: absolute;
  top: 0;
  left: -30px;
}
header .header-nav ul li.has-submenu > .submenu-wrapper > .submenu:before {
  content: "";
  position: absolute;
  top: 8px;
  right: 30px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #f7f0e6;
}
header .header-nav ul li.has-submenu::after {
  content: "";
  display: inline-block;
  background-image: url("/img/header-arrows-sprite.png");
  background-repeat: no-repeat;
  background-position: -5px -5px;
  width: 14px;
  height: 9px;
}
header .header-nav ul li.has-submenu:hover > .submenu-wrapper {
  display: block;
}
header .header-nav ul li.has-submenu:hover::after {
  background-position: -29px -5px;
}
header .header-contacts {
  text-align: right;
}
header .header-contacts__tel {
  font-weight: 600;
  color: #58585a;
  font-size: 22px;
}
header .header-contacts__tel:hover {
  color: #5c7b97;
}
header .header-contacts__mail {
  font-size: 12px;
  color: #5c7b97;
  font-weight: 300;
}
header .header-cart__count {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  border-radius: 50%;
  background-color: #5c7b97;
  width: 33px;
  margin: 0 10px;
  height: 33px;
  text-align: center;
  line-height: 33px;
}
header .header-cart__total {
  font-size: 14px;
  font-weight: 600;
  color: #58585a;
}
header .header-cart:hover .header-cart__total {
  color: #5c7b97;
}
.products-header {
  background: #f7f0e6;
  padding: 15px 0;
}
.products-header__product a {
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  color: #5c7b97;
}
.products-header__product a img {
  margin-bottom: 12px;
}
.products-header__product:hover a {
  color: #58585a;
}
footer {
  background: #5c7b97;
  padding: 85px 0 25px;
  color: #fff;
}
footer a {
  color: #fff;
}
footer .footer-col {
  width: 20%;
}
footer .footer-col__title {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  height: 16px;
}
footer .footer__menu {
  padding-left: 0;
  list-style: none;
  margin-top: 15px;
  margin-bottom: 15px;
}
footer .footer__menu li a {
  text-transform: uppercase;
  font-size: 12px;
  display: inline-block;
  margin: 5px 0;
}
footer .footer__contacts {
  margin-top: 15px;
}
footer .footer__contacts a {
  display: inline-block;
  margin-bottom: 12px;
}
footer .footer__contacts .footer__tel {
  font-size: 18px;
  font-weight: 600;
}
footer .footer__contacts .footer__mail {
  font-size: 12px;
  font-weight: 300;
  text-decoration: underline;
}
footer .footer__contacts .footer__address {
  font-size: 12px;
  font-weight: 600;
}
footer .footer__copyright {
  font-size: 12px;
  font-weight: 300;
}
footer a:hover {
  color: #58585a;
}
.main-banner {
  padding: 10px 0 35px;
  width: 100%;
}
.main-banner__row.row-50 {
  height: 50%;
}
.main-banner__col {
  width: 50%;
  background-repeat: no-repeat;
}
.main-banner__col.col-wrapper {
  height: 735px;
}
.main-banner__col a {
  width: 100%;
  height: 100%;
}
.main-banner__col .main-banner__text {
  font-size: 30px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
  height: 100px;
  padding: 20px 30px;
}
.main-banner__col .main-banner__text.center-text {
  background-color: rgba(93, 123, 152, 0.8);
  padding: 0 70px;
  width: 67%;
  min-height: 200px;
}
.main-tabs {
  padding: 35px 0;
}
.main-tabs .tabs li {
  font-size: 24px;
  margin: 0 35px;
}
.main-tabs .tabs li.active {
  padding-left: 18px;
  padding-right: 18px;
  font-size: 30px;
}
.catalog-product {
  text-align: center;
  margin-bottom: 30px;
}
.catalog-product > a {
  display: block;
}
.catalog-product > a img {
  max-height: 100%;
  width: auto !important;
  margin: 0 auto;
}
.catalog-product span {
  display: block;
}
.catalog-product__image {
  height: 315px;
  width: 300px;
  margin: 0 auto;
  border: 1px solid #ced7e0;
}
.catalog-product__image:hover + a span {
  color: #5c7b97;
}
.catalog-product__name {
  margin-top: 30px;
  color: #363636;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
.catalog-product__name:hover {
  color: #5c7b97;
}
.catalog-product__avaliable {
  color: #363636;
  font-size: 12px;
  font-weight: 300;
  margin-top: 8px;
  text-transform: uppercase;
}
.catalog-product__price {
  font-size: 30px;
  color: #5c7b97;
  margin-top: 5px;
}
.main-about {
  background: #f7f0e6;
  padding: 80px 0;
  margin-top: 150px;
  margin-bottom: 130px;
  height: 500px;
}
.main-about__h1 {
  margin: 0;
  color: #58585a;
  font-size: 30px;
  font-weight: 600;
}
.main-about p {
  font-size: 18px;
  font-weight: 300;
  color: #58585a;
  margin-bottom: 30px;
}
.main-about__info {
  width: 50%;
}
.main-about__image {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-25%);
}
.instagram {
  margin-bottom: 100px;
}
.instagram__row {
  margin: 15px 0;
}
.instagram__photo {
  width: 260px;
  height: 260px;
}
.instagram__photo.account-info {
  width: 260px;
  height: 260px;
  background: #eff3fa;
}
.instagram__photo.account-info .instagram-icon {
  margin: 0 15px;
}
.instagram__photo.account-info a {
  width: 100%;
  height: 100%;
}
.instagram__photo.account-info .follow {
  text-align: center;
  width: 75px;
}
.instagram__photo.account-info .follow span {
  display: block;
  color: #5c7b97;
  text-transform: uppercase;
}
.instagram__photo.account-info .follow__count {
  font-weight: 600;
  font-size: 18px;
}
.instagram__photo.account-info .follow__title {
  font-weight: 300;
  font-size: 12px;
}
.instagram__photo.text-subscribe {
  transform: rotate(-90deg);
}
.instagram__photo.text-subscribe a {
  transform: translateX(-25%);
}
.instagram__photo.text-subscribe span {
  font-weight: 600;
  font-size: 18px;
  color: #58585a;
  display: block;
  text-align: right;
  text-transform: uppercase;
}
.instagram__photo.text-subscribe .text-subscribe__account {
  color: #5c7b97;
  font-weight: normal;
}
.clients {
  margin-top: 40px;
  margin-bottom: 70px;
}
.clients-slider a img.hover {
  display: none;
}
.clients-slider a:hover img.preview {
  display: none;
}
.clients-slider a:hover img.hover {
  display: block;
}
.catalog-section {
  text-align: center;
  margin-bottom: 60px;
}
.catalog-section > a {
  display: block;
}
.catalog-section__image {
  height: 300px;
}
.catalog-section__image img {
  max-height: 100%;
}
.catalog-section__image:hover + a span {
  color: #5c7b97;
}
.catalog-section__name {
  margin-top: 30px;
  color: #363636;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
.catalog-section__name:hover {
  color: #5c7b97;
}
.catalog-section__avaliable {
  color: #363636;
  font-size: 12px;
  font-weight: 300;
  margin-top: 8px;
  text-transform: uppercase;
}
.left-side__menu {
  margin-top: 0;
  margin-bottom: 0;
}
.left-side__menu a {
  text-transform: uppercase;
  color: #58585a;
  display: inline-block;
  font-size: 12px;
  margin: 6px 0;
}
.left-side__menu a:hover {
  color: #5c7b97;
}
.left-side__menu .current a {
  color: #5c7b97;
  font-weight: 600;
}
.pagination_nav .load-more a {
  font-size: 12px;
  color: #5c7b97;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 2px solid #5c7b97;
  padding-bottom: 3px;
}
.pagination_nav .load-more a:hover {
  color: #58585a;
  border-bottom: 2px solid #58585a;
}
.pagination_nav .wrap_pagination {
  margin-top: 30px;
}
.pagination_nav .pagination > li {
  display: inline-block;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  line-height: 55px;
}
.pagination_nav .pagination > li a {
  font-size: 14px;
  color: #5c7b97;
  padding: 20px;
}
.pagination_nav .pagination > li.active {
  background: #5c7b97;
  color: #fff;
  font-weight: 600;
}
.pagination_nav .pagination > li:hover {
  background: #5c7b97;
}
.pagination_nav .pagination > li:hover a {
  color: #fff;
}
.content {
  position: relative;
}
.products-filter {
  position: absolute;
  top: -60px;
  width: 100%;
}
.products-filter .filter-button {
  text-align: right;
}
.products-filter .filter-button span {
  cursor: pointer;
  color: #5c7b97;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.products-filter .filter-button span:hover {
  color: #58585a;
}
.products-filter .filter-hide {
  display: none;
}
.products-filter .filter-content {
  display: none;
  background: #f7f0e6;
  padding: 15px 30px;
  margin-top: 20px;
}
.products-filter .filter-content .filter-prop__title {
  font-size: 12px;
  color: #58585a;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.products-filter .filter-content .filter-prop.list ul {
  margin-top: 0;
  margin-bottom: 0;
}
.products-filter .filter-content .filter-prop.list label {
  cursor: pointer;
}
.products-filter .filter-content .filter-prop.list .filter-prop__name {
  font-size: 12px;
  color: #5c7b97;
  text-transform: uppercase;
}
.products-filter .filter-content .filter-prop.list .filter-prop__name:hover {
  color: #58585a;
}
.products-filter .filter-content .filter-prop.brands ul {
  column-count: 2;
}
.products-filter .filter-content .filter-prop.price {
  margin-bottom: 15px;
}
.products-filter .filter-content .filter-prop.price .price-value {
  display: inline-block;
  vertical-align: middle;
  width: 15%;
  font-size: 12px;
  color: #5c7b97;
}
.products-filter .filter-content .filter-prop.price .price-slider {
  height: 4px;
  border: none;
  background: #ced7e0;
  display: inline-block;
  vertical-align: middle;
  width: 59%;
}
.products-filter .filter-content .filter-prop.price .price-slider .ui-slider-range {
  background: #5c7b97;
}
.products-filter .filter-content .filter-prop.price .price-slider .ui-button,
.products-filter .filter-content .filter-prop.price .price-slider .ui-state-default,
.products-filter .filter-content .filter-prop.price .price-slider .ui-widget-content .ui-state-default,
.products-filter .filter-content .filter-prop.price .price-slider .ui-widget-header .ui-state-default,
.products-filter .filter-content .filter-prop.price .price-slider html .ui-button.ui-state-disabled:active,
.products-filter .filter-content .filter-prop.price .price-slider html .ui-button.ui-state-disabled:hover {
  border-radius: 50%;
  border: none;
  background: #5c7b97;
}
.products-filter .filter-content .filter-prop.price .price-slider .ui-slider-handle {
  width: 1em;
  height: 1em;
  top: -0.3em;
}
.products-filter.active .filter-show {
  display: none;
}
.products-filter.active .filter-hide {
  display: initial;
}
.products-filter.active .filter-content {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.checkbox__control {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 8px;
  vertical-align: middle;
  background-color: #fff;
  color: #5c7b97;
}
.checkbox {
  opacity: 0;
  position: absolute;
}
.checkbox:checked + .checkbox__control {
  border-color: #01a982;
}
.checkbox:checked + .checkbox__control:after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  background-color: #5c7b97;
}
.quantity-block {
  background-color: #f3f6f8;
  border-radius: 50px;
  width: 130px;
  height: 55px;
}
.quantity-block input {
  background-color: #fff;
  width: 40px;
  height: 40px;
  border: none;
  text-align: center;
  color: #5c7b97;
  font-size: 14px;
}
.quantity-block__action {
  cursor: pointer;
  font-size: 18px;
  color: #5c7b97;
  font-weight: 600;
  padding: 0 16px;
}
.product {
  margin-bottom: 40px;
}
.product a {
  font-size: 12px;
  color: #5c7b97;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px dashed #5c7b97;
}
.product a:hover {
  color: #58585a;
  border-bottom: 1px dashed #58585a;
}
.product a.product__get-discount {
  font-size: 12px;
  color: #00a651;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px dashed #00a651;
}
.product a.product__delivery {
  margin-right: 50px;
}
.product a.product__help {
  margin-left: 10px;
}
.product__photos > div {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.product__photos ul {
  margin: 0;
}
.product__photos .thumbs-container {
  width: 11%;
}
.product__photos .thumbs-container .bx-wrapper {
  top: 50%;
  transform: translateY(-50%);
}
.product__photos .thumbs-container .thumb-item {
  height: 110px;
}
.product__photos .thumbs-container .bx-prev {
  top: 0;
  right: 50%;
  transform: translateX(50%);
  background: none;
  border: none;
  width: auto;
  height: auto;
}
.product__photos .thumbs-container .bx-prev > * {
  display: block;
  margin: 0 auto;
}
.product__photos .thumbs-container .bx-next {
  top: auto;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  background: none;
  border: none;
  width: auto;
  height: auto;
}
.product__photos .thumbs-container .bx-next > * {
  display: block;
  margin: 0 auto;
}
.product__photos .thumbs-container .pager-active {
  opacity: 0.5;
}
.product__photos .photo-container {
  width: 88%;
}
.product__photos .photo-container .bx-viewport {
  height: 100% !important;
}
.product__photos .photo-container .bx-wrapper {
  height: 100%;
}
.product__photos .photo-container .bxslider {
  height: 100% !important;
}
.product__photos .photo-container .bxslider li {
  height: 100% !important;
}
.product__photos .photo-container img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.product__photos .bx-wrapper {
  background: transparent;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}
.product__photos .bx-wrapper img {
  margin: 0 auto;
}
.product__info > div {
  margin-bottom: 20px;
}
.product__article {
  font-size: 14px;
  font-family: "Ubuntu";
  color: #58585a;
  text-transform: uppercase;
}
.product__title h1 {
  font-size: 30px;
}
.product__price {
  font-size: 30px;
  color: #5c7b97;
  font-weight: 600;
}
.product__properties .properties__list span {
  font-size: 14px;
  color: #58585a;
  text-transform: uppercase;
  text-align: left;
}
.product__properties .properties__list > div {
  margin: 5px 0;
}
.product__properties .properties__list > div:first-child {
  margin-top: 0;
}
.product__properties .properties__list > div:last-child {
  margin-botom: 0;
}
.product__properties .properties__title {
  margin-bottom: 20px;
  cursor: pointer;
}
.product__properties .properties__title svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.product__properties .properties__title span {
  font-size: 14px;
  color: #58585a;
  font-weight: 600;
  text-transform: uppercase;
}
.product__properties .properties__title.active svg {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
.product__best span {
  margin-left: 10px;
  font-size: 12px;
  color: #58585a;
  font-weight: 600;
  text-transform: uppercase;
}
.product__tabs .tabs__caption {
  border-bottom: 1px solid #ced7e0;
}
.product__tabs .tabs__caption li {
  font-weight: 600;
}
.product__tabs .tabs__content {
  font-size: 16px;
}
.product__tabs .tab__title {
  font-weight: 600;
  font-size: 14px;
  color: #5c7b97;
  text-transform: uppercase;
  display: block;
  margin-bottom: 15px;
}
.line {
  background-color: #ced7e0;
  width: 100%;
  height: 1px;
}
.similar h2 {
  color: #5c7b97;
}
.ready-projects h2 {
  margin-bottom: 15px;
  text-align: left;
  font-size: 24px;
}
.ready-projects .list-projects__project {
  background-color: #ffffff;
  width: 250px;
  text-align: center;
  transition: 0.2s box-shadow;
  margin-left: 50px;
}
.ready-projects .list-projects__project span {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  color: #58585a;
  transition: 0.2s color;
  margin-bottom: 12px;
}
.ready-projects .list-projects__project .project-img {
  height: 180px;
  background-repeat: no-repeat;
}
.ready-projects .list-projects__project .project-img img {
  opacity: 0;
}
.ready-projects .list-projects__project .project-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 16px;
}
.ready-projects .list-projects__project .project-price {
  font-size: 18px;
  color: #5c7b97;
  text-transform: none;
}
.ready-projects .list-projects__project .project-info {
  padding: 30px 25px 15px;
  border: 1px solid #ced7e0;
  border-top: none;
}
.ready-projects .list-projects__project .line {
  margin-bottom: 12px;
}
.ready-projects .list-projects__project:hover {
  box-shadow: 0px 18px 32px 0px rgba(93, 123, 152, 0.2);
}
.ready-projects .list-projects__project:hover .project-title {
  color: #5c7b97;
}
.feedback-project h2 {
  font-size: 24px;
  text-align: left;
  margin-bottom: 15px;
}
.feedback-project h3 {
  font-size: 18px;
  text-align: left;
}
.form-group {
  margin-bottom: 15px;
}
.form-control {
  border-width: 1px;
  border-color: #ced7e0;
  border-style: solid;
  border-radius: 20px;
  width: 408px;
  height: 38px;
  font-size: 16px;
  line-height: 1.2;
  padding-left: 20px;
  padding-right: 20px;
}
