// out: ../css/styles.css
@import "mixins.less";
@gray-color: #58585a;
@light-gray-color: #ced7e0;
@blue-color: #5c7b97;
@light-blue-color: #f3f6f8;
@yellow-color: #f7f0e6;
@font-face {
  font-family: 'rouble';
  src: url("../fonts/rouble.otf");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #fff;
  font-family: "Ubuntu", "Sans serif";
  color: @gray-color;
}

body * {
  .border-box();
}

a {
  text-decoration: none;
  outline: none;
}

p {
  margin-top: 0;
  line-height: 1.2;

  &:last-child {
    margin-bottom: 0;
  }
}

ul {
  list-style: none;
  padding-left: 0;
}

iframe {
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  margin-bottom: 15px;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 1370px;
  padding-right: 15px;
  padding-left: 15px;
}

.container-wide {
  position: relative;
  width: 100%;
}

.container-narrow {
  position: relative;
  margin: 0 auto;
  width: 1120px;
  padding-right: 15px;
  padding-left: 15px;
}

.rub {
  font-family: "rouble";
  font-style: normal;
  text-transform: none;
}

.title-blue {
  color: @blue-color;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
}

.title-gray {
  color: @gray-color;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
}

.flex {
  .flex-block();
}

.flex-va-center {
  .align-items(center);
}

.flex-va-bottom {
  .align-items(flex-end);
}

.flex-justify-between {
  .justify-content(space-between);
}

.flex-justify-around {
  .justify-content(space-around);
}

.flex-justify-center {
  .justify-content(center);
}

.flex-wrap {
  .flex-wrap(wrap);
}

.flex-direction-column {
  .flex-direction(column);
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

h1 {
  font-size: 18px;
  color: @gray-color;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: @gray-color;
  margin-bottom: 60px;
}

.tabs {
  &__caption {
    list-style: none;
    padding: 0;
    margin-bottom: 50px;

    li {
      font-size: 14px;
      color: rgb(206, 215, 224);
      text-transform: uppercase;
      cursor: pointer;
      padding-bottom: 13px;
      margin: 0 35px;
      position: relative;
      top: 1px;

      &.active {
        color: @blue-color;
        font-weight: 600;
        border-bottom: 2px solid @blue-color;
      }
    }
  }

  &__content {
    display: none;
    /* по умолчанию прячем все блоки */
  }

  &__content.active {
    display: block;
    /* по умолчанию показываем нужный блок */
  }
}

.owl-dots {
  text-align: center;
  margin-top: 30px;

  .owl-dot {
    margin: 0 10px;

    span {
      width: 10px;
      height: 10px;
      display: inline-block;
      vertical-align: middle;
      background-color: @light-gray-color;
      border-radius: 50%;
    }

    &.active {
      span {
        width: 13px;
        height: 13px;
        background-color: #5d7b98;
      }
    }
  }
}

.owl-carousel .owl-item img {
  width: auto;
}

.inner {
  margin-bottom: 30px;

  &__top {
    padding-top: 40px;
    padding-bottom: 40px;

    .prev-page {
      font-size: 18px;
      color: #fff;
      font-weight: 600;
      text-transform: uppercase;

      svg {
        margin-right: 12px;
      }

      &:hover {
        color: @blue-color;

        svg path {
          stroke: @blue-color;
        }
      }
    }
  }
}

.breadcrumbs {
  a {
    font-size: 12px;
    color: #cfcfcf;

    &:hover {
      color: @blue-color;
    }
  }

  span {
    font-size: 12px;
    color: #cfcfcf;
  }

  .current {
    color: @blue-color;
  }
}

.btn {
  color: @blue-color;
  border: 1px solid @blue-color;
  text-transform: uppercase;
  text-align: center;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  padding: 18px 95px;
  // width: 298px;
  // height: 53px;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  transition: 0.2s all;
  cursor: pointer;
  background-color: transparent;

  &:hover {
    color: @gray-color;
    border: 1px solid @gray-color;
  }

  &.to-cart {
    background-color: @blue-color;
    color: #fff;
    width: 100%;

    &:hover {
      border: 1px solid @blue-color;
      box-shadow: 0 18px 32px 0 rgba(0, 0, 0, 0.2);
    }
  }
}

header {
  padding: 13px 0 10px;

  .header-nav {
    ul {
      list-style: none;
      padding: 0;

      li {
        margin-right: 20px;

        a {
          color: @gray-color;
          font-weight: 600;
          font-size: 14px;
          text-transform: uppercase;
          position: relative;
        }

        &:hover {
          > a {
            color: @blue-color;
          }
        }
      }

      li.has-submenu {
        position: relative;

        > .submenu-wrapper {
          display: none;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          padding-top: 15px;
          z-index: 1;

          > .submenu {
            background: @yellow-color;
            padding: 30px;
            width: 200px;
            box-shadow: 0 17px 24px 0 rgba(0, 0, 0, 0.17);

            > li {
              margin: 8px 0;

              &:first-child {
                margin-top: 0;
              }

              &:last-child {
                margin-bottom: 0;
              }

              &:hover {
                a::before {
                  content: "";
                  width: 4px;
                  height: 100%;
                  background: @blue-color;
                  display: inline-block;
                  position: absolute;
                  top: 0;
                  left: -30px;
                }
              }
            }

            &:before {
              content: "";
              position: absolute;
              top: 8px;
              right: 30px;
              width: 0;
              height: 0;
              border-left: 7px solid transparent;
              border-right: 7px solid transparent;
              border-bottom: 7px solid @yellow-color;
            }
          }
        }

        &::after {
          content: "";
          display: inline-block;
          background-image: url("/img/header-arrows-sprite.png");
          background-repeat: no-repeat;
          background-position: -5px -5px;
          width: 14px;
          height: 9px;
        }

        &:hover {
          > .submenu-wrapper {
            display: block;
          }

          &::after {
            background-position: -29px -5px;
          }
        }
      }
    }
  }

  .header-contacts {
    text-align: right;

    &__tel {
      font-weight: 600;
      color: @gray-color;
      font-size: 22px;

      &:hover {
        color: @blue-color;
      }
    }

    &__mail {
      font-size: 12px;
      color: @blue-color;
      font-weight: 300;
    }
  }

  .header-cart {
    &__count {
      color: #fff;
      font-weight: 600;
      font-size: 14px;
      border-radius: 50%;
      background-color: @blue-color;
      width: 33px;
      margin: 0 10px;
      height: 33px;
      text-align: center;
      line-height: 33px;
    }

    &__total {
      font-size: 14px;
      font-weight: 600;
      color: @gray-color;
    }

    &:hover {
      .header-cart__total {
        color: @blue-color;
      }
    }
  }
}

.products-header {
  background: @yellow-color;
  padding: 15px 0;

  &__product {
    a {
      text-align: center;
      display: block;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 12px;
      color: @blue-color;

      img {
        margin-bottom: 12px;
      }
    }

    &:hover {
      a {
        color: @gray-color;
      }
    }
  }
}

footer {
  background: @blue-color;
  padding: 85px 0 25px;
  color: #fff;

  a {
    color: #fff;
  }

  .footer-col {
    width: 20%;
  }

  .footer-col__title {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    height: 16px;
  }

  .footer__menu {
    padding-left: 0;
    list-style: none;
    margin-top: 15px;
    margin-bottom: 15px;

    li {
      a {
        text-transform: uppercase;
        font-size: 12px;
        display: inline-block;
        margin: 5px 0;
      }
    }
  }

  .footer__contacts {
    margin-top: 15px;

    a {
      display: inline-block;
      margin-bottom: 12px;
    }

    .footer__tel {
      font-size: 18px;
      font-weight: 600;
    }

    .footer__mail {
      font-size: 12px;
      font-weight: 300;
      text-decoration: underline;
    }

    .footer__address {
      font-size: 12px;
      font-weight: 600;
    }
  }

  .footer__copyright {
    font-size: 12px;
    font-weight: 300;
  }

  a {
    &:hover {
      color: @gray-color;
    }
  }
}

.main-banner {
  padding: 10px 0 35px;
  width: 100%;

  &__row {
    &.row-50 {
      height: 50%;
    }
  }

  &__col {
    width: 50%;
    background-repeat: no-repeat;

    &.col-wrapper {
      height: 735px;
    }

    a {
      width: 100%;
      height: 100%;
    }

    .main-banner__text {
      font-size: 30px;
      color: #fff;
      font-weight: 600;
      text-transform: uppercase;
      width: 100%;
      height: 100px;
      padding: 20px 30px;

      &.center-text {
        background-color: rgba(93, 123, 152, 0.8);
        padding: 0 70px;
        width: 67%;
        min-height: 200px;
      }
    }
  }
}

.main-tabs {
  padding: 35px 0;

  .tabs {
    li {
      font-size: 24px;
      margin: 0 35px;

      &.active {
        padding-left: 18px;
        padding-right: 18px;
        font-size: 30px;
      }
    }
  }
}

.catalog-product {
  text-align: center;
  margin-bottom: 30px;

  > a {
    display: block;

    img {
      max-height: 100%;
      width: auto !important;
      margin: 0 auto;
    }
  }

  span {
    display: block;
  }

  &__image {
    height: 315px;
    width: 300px;
    margin: 0 auto;
    border: 1px solid @light-gray-color;

    &:hover {
      & + a span {
        color: @blue-color;
      }
    }
  }

  &__name {
    margin-top: 30px;
    color: #363636;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;

    &:hover {
      color: @blue-color;
    }
  }

  &__avaliable {
    color: #363636;
    font-size: 12px;
    font-weight: 300;
    margin-top: 8px;
    text-transform: uppercase;
  }

  &__price {
    font-size: 30px;
    color: @blue-color;
    margin-top: 5px;
  }
}

.main-about {
  background: @yellow-color;
  padding: 80px 0;
  margin-top: 150px;
  margin-bottom: 130px;
  height: 500px;

  &__h1 {
    margin: 0;
    color: @gray-color;
    font-size: 30px;
    font-weight: 600;
  }

  p {
    font-size: 18px;
    font-weight: 300;
    color: @gray-color;
    margin-bottom: 30px;
  }

  &__info {
    width: 50%;
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-25%);
  }
}

.instagram {
  margin-bottom: 100px;

  &__row {
    margin: 15px 0;
  }

  &__photo {
    width: 260px;
    height: 260px;

    &.account-info {
      width: 260px;
      height: 260px;
      background: #eff3fa;

      .instagram-icon {
        margin: 0 15px;
      }

      a {
        width: 100%;
        height: 100%;
      }

      .follow {
        text-align: center;
        width: 75px;

        span {
          display: block;
          color: @blue-color;
          text-transform: uppercase;
        }

        &__count {
          font-weight: 600;
          font-size: 18px;
        }

        &__title {
          font-weight: 300;
          font-size: 12px;
        }
      }
    }

    &.text-subscribe {
      transform: rotate(-90deg);

      a {
        transform: translateX(-25%);
      }

      span {
        font-weight: 600;
        font-size: 18px;
        color: @gray-color;
        display: block;
        text-align: right;
        text-transform: uppercase;
      }

      .text-subscribe__account {
        color: @blue-color;
        font-weight: normal;
      }
    }
  }
}

.clients {
  margin-top: 40px;
  margin-bottom: 70px;
}

.clients-slider {
  a {
    img {
      &.hover {
        display: none;
      }
    }

    &:hover {
      img {
        &.preview {
          display: none;
        }

        &.hover {
          display: block;
        }
      }
    }
  }
}

.catalog-section {
  text-align: center;
  margin-bottom: 60px;

  > a {
    display: block;
  }

  &__image {
    height: 300px;

    img {
      max-height: 100%;
    }

    &:hover {
      & + a span {
        color: @blue-color;
      }
    }
  }

  &__name {
    margin-top: 30px;
    color: #363636;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;

    &:hover {
      color: @blue-color;
    }
  }

  &__avaliable {
    color: #363636;
    font-size: 12px;
    font-weight: 300;
    margin-top: 8px;
    text-transform: uppercase;
  }
}

.left-side__menu {
  margin-top: 0;
  margin-bottom: 0;

  a {
    text-transform: uppercase;
    color: @gray-color;
    display: inline-block;
    font-size: 12px;
    margin: 6px 0;

    &:hover {
      color: @blue-color;
    }
  }

  .current {
    a {
      color: @blue-color;
      font-weight: 600;
    }
  }
}

.pagination_nav {
  .load-more a {
    font-size: 12px;
    color: @blue-color;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 2px solid @blue-color;
    padding-bottom: 3px;

    &:hover {
      color: @gray-color;
      border-bottom: 2px solid @gray-color;
    }
  }

  .wrap_pagination {
    margin-top: 30px;
  }

  .pagination > li {
    display: inline-block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    line-height: 55px;

    a {
      font-size: 14px;
      color: @blue-color;
      padding: 20px;
    }

    &.active {
      background: @blue-color;
      color: #fff;
      font-weight: 600;
    }

    &:hover {
      background: @blue-color;

      a {
        color: #fff;
      }
    }
  }
}

.content {
  position: relative;
}

.products-filter {
  position: absolute;
  top: -60px;
  width: 100%;

  .filter-button {
    text-align: right;

    span {
      cursor: pointer;
      color: @blue-color;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;

      &:hover {
        color: @gray-color;
      }
    }
  }

  .filter-hide {
    display: none;
  }

  .filter-content {
    display: none;
    background: @yellow-color;
    padding: 15px 30px;
    margin-top: 20px;

    .filter-prop__title {
      font-size: 12px;
      color: @gray-color;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 15px;
    }

    .filter-prop {
      &.list {
        ul {
          margin-top: 0;
          margin-bottom: 0;
        }

        label {
          cursor: pointer;
        }

        .filter-prop__name {
          font-size: 12px;
          color: @blue-color;
          text-transform: uppercase;

          &:hover {
            color: @gray-color;
          }
        }
      }

      &.brands {
        ul {
          column-count: 2;
        }
      }

      &.price {
        margin-bottom: 15px;

        .price-value {
          display: inline-block;
          vertical-align: middle;
          width: 15%;
          font-size: 12px;
          color: @blue-color;
        }

        .price-slider {
          height: 4px;
          border: none;
          background: @light-gray-color;
          display: inline-block;
          vertical-align: middle;
          width: 59%;

          .ui-slider-range {
            background: @blue-color;
          }

          .ui-button,
          .ui-state-default,
          .ui-widget-content .ui-state-default,
          .ui-widget-header .ui-state-default,
          html .ui-button.ui-state-disabled:active,
          html .ui-button.ui-state-disabled:hover {
            border-radius: 50%;
            border: none;
            background: @blue-color;
          }

          .ui-slider-handle {
            width: 1em;
            height: 1em;
            top: -.3em;
          }
        }
      }
    }
  }

  &.active {
    .filter-show {
      display: none;
    }

    .filter-hide {
      display: initial;
    }

    .filter-content {
      .flex-block();
    }
  }
}

.checkbox__control {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 8px;
  vertical-align: middle;
  background-color: #fff;
  color: @blue-color;
}

.checkbox {
  opacity: 0;
  position: absolute;

  &:checked {
    +.checkbox__control {
      border-color: #01a982;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 2px;
        left: 2px;
        width: 10px;
        height: 10px;
        background-color: @blue-color;
      }
    }
  }
}

.quantity-block {
  background-color: rgb(243, 246, 248);
  border-radius: 50px;
  width: 130px;
  height: 55px;

  input {
    background-color: #fff;
    width: 40px;
    height: 40px;
    border: none;
    text-align: center;
    color: @blue-color;
    font-size: 14px;
  }

  &__action {
    cursor: pointer;
    font-size: 18px;
    color: @blue-color;
    font-weight: 600;
    padding: 0 16px;
  }
}

.product {
  margin-bottom: 40px;

  a {
    font-size: 12px;
    color: @blue-color;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px dashed @blue-color;

    &:hover {
      color: @gray-color;
      border-bottom: 1px dashed @gray-color;
    }

    &.product__get-discount {
      font-size: 12px;
      color: rgb(0, 166, 81);
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
      border-bottom: 1px dashed rgb(0, 166, 81);
    }

    &.product__delivery {
      margin-right: 50px;
    }

    &.product__help {
      margin-left: 10px;
    }
  }

  &__photos {
    > div {
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }

    ul {
      margin: 0;
    }

    .thumbs-container {
      width: 11%;

      .bx-wrapper {
        top: 50%;
        transform: translateY(-50%);
      }

      .thumb-item {
        height: 110px;
      }

      .bx-prev {
        top: 0;
        right: 50%;
        transform: translateX(50%);
        background: none;
        border: none;
        width: auto;
        height: auto;

        > * {
          display: block;
          margin: 0 auto;
        }
      }

      .bx-next {
        top: auto;
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
        background: none;
        border: none;
        width: auto;
        height: auto;

        > * {
          display: block;
          margin: 0 auto;
        }
      }

      .pager-active {
        opacity: 0.5;
      }
    }

    .photo-container {
      width: 88%;

      .bx-viewport {
        height: 100% !important;
      }

      .bx-wrapper {
        height: 100%;
      }

      .bxslider {
        height: 100% !important;

        li {
          height: 100% !important;
        }
      }

      img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .bx-wrapper {
      background: transparent;
      box-shadow: none;
      border: none;
      margin-bottom: 0;

      img {
        margin: 0 auto;
      }
    }
  }

  &__info {
    > div {
      margin-bottom: 20px;
    }
  }

  &__article {
    font-size: 14px;
    font-family: "Ubuntu";
    color: @gray-color;
    text-transform: uppercase;
  }

  &__title {
    h1 {
      font-size: 30px;
    }
  }

  &__price {
    font-size: 30px;
    color: @blue-color;
    font-weight: 600;
  }

  &__properties {
    .properties__list {
      span {
        font-size: 14px;
        color: @gray-color;
        text-transform: uppercase;
        text-align: left;
      }

      > div {
        margin: 5px 0;

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-botom: 0;
        }
      }
    }

    .properties__title {
      margin-bottom: 20px;
      cursor: pointer;

      svg {
        .rotate(180deg);
      }

      span {
        font-size: 14px;
        color: @gray-color;
        font-weight: 600;
        text-transform: uppercase;
      }

      &.active {
        svg {
          .rotate(0);
        }
      }
    }
  }

  &__best {
    span {
      margin-left: 10px;
      font-size: 12px;
      color: @gray-color;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  &__tabs {
    .tabs__caption {
      border-bottom: 1px solid @light-gray-color;
    }

    .tabs__caption {
      li {
        font-weight: 600;
      }
    }

    .tabs__content {
      font-size: 16px;
    }

    .tab__title {
      font-weight: 600;
      font-size: 14px;
      color: @blue-color;
      text-transform: uppercase;
      display: block;
      margin-bottom: 15px;
    }
  }
}

.line {
  background-color: rgb(206, 215, 224);
  width: 100%;
  height: 1px;
}

.similar {
  h2 {
    color: @blue-color;
  }
}

.ready-projects {
  h2 {
    margin-bottom: 15px;
    text-align: left;
    font-size: 24px;
  }

  .list-projects {
    position: relative;
    padding-bottom: 50px;
    margin-bottom: 40px;

    .ps__rail-x {
      opacity: 1;
      background: @light-gray-color;
      height: 1px;
      margin-bottom: 2px;
    }

    .ps__thumb-x {
      background: @blue-color;
      top: -2px;
      height: 5px;
    }

    .ps__rail-x:hover > .ps__thumb-x {
      top: -2px;
      height: 5px;
      background: @gray-color;
    }

    &__project {
      background-color: rgb(255, 255, 255);
      width: 250px;
      text-align: center;
      transition: 0.2s box-shadow;
      margin-left: 50px;

      span {
        display: block;
        text-transform: uppercase;
        font-size: 12px;
        color: @gray-color;
        transition: 0.2s color;
        margin-bottom: 12px;
      }

      .project-img {
        height: 180px;
        background-repeat: no-repeat;

        img {
          opacity: 0;
        }
      }

      .project-title {
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 16px;
      }

      .project-price {
        font-size: 18px;
        color: @blue-color;
        text-transform: none;
      }

      .project-info {
        padding: 30px 25px 15px;
        border: 1px solid @light-gray-color;
        border-top: none;
      }

      .line {
        margin-bottom: 12px;
      }

      &:hover {
        box-shadow: 0 18px 32px 0 rgba(93, 123, 152, 0.2);

        .project-title {
          color: @blue-color;
        }
      }
    }
  }
}

.feedback-project {
  h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  h3 {
    font-size: 18px;
  }
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  border-width: 1px;
  border-color: @light-gray-color;
  border-style: solid;
  border-radius: 20px;
  width: 408px;
  height: 38px;
  font-size: 16px;
  line-height: 1.2;
  padding-left: 20px;
  padding-right: 20px;
}

.header-image {
  height: 450px;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 50px;

  &__title-bg {
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 180px;
  }

  .container {
    height: 100%;
  }

  h1 {
    font-size: 30px;
    position: absolute;
    bottom: 50px;
  }
}

.ready-project {
  margin-bottom: 50px;

  &__info {
    font-size: 14px;

    span {
      font-weight: 600;
    }
  }

  .props__title {
    font-size: 18px;
    color: @gray-color;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
    display: block;
  }

  .props__table {
    td:first-child {
      width: 60%;
    }
  }

  &__total {
    background: @light-blue-color;
    padding: 40px 0;

    span {
      text-transform: uppercase;
      color: @gray-color;
      font-size: 24px;
      font-weight: 600;

      &.total-price {
        color: @blue-color;
        text-transform: none;
        margin: 0 100px 0 50px;
      }
    }
  }
}

.props__table {
  tr {
    background: @light-blue-color;

    &:nth-child(2n) {
      background: #fff;
    }
  }

  thead {
    tr {
      background: #fff;
    }
  }

  th {
    text-transform: uppercase;
    font-size: 14px;
    padding: 8px 0;
    text-align: left;

    &:first-child {
      padding-left: 40px;
    }

    span {
      font-weight: normal;
    }
  }

  td {
    font-size: 14px;
    padding: 8px 0;

    &:first-child {
      text-transform: uppercase;
      padding-left: 40px;
    }

    &:last-child {
      text-transform: none;
    }
  }
}

.cart-block {
  margin-bottom: 40px;

  h2 {
    color: @blue-color;
  }
}

.cart-table {
  width: 860px;
  margin: 0 auto;

  th {
    font-weight: 600;
    font-size: 12px;
    color: @blue-color;
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 15px;
  }

  td {
    text-transform: uppercase;
    font-size: 14px;
    border-top: 1px solid @light-gray-color;
    padding: 30px 10px;

    &:first-child {
      padding-left: 0;
      padding-right: 0;
    }

    &:last-child {
      text-align: right;
      padding-left: 0;
      padding-right: 0;
    }

    img {
      max-width: 75px;
    }

    span {
      display: block;
    }

    .article {
      font-size: 12px;
    }

    .name {
      font-weight: 600;
    }

    .price {
      color: @blue-color;
    }
  }

  .quantity-block {
    height: 40px;
    width: 95px;

    input {
      width: 30px;
      height: 30px;
    }

    &__action {
      padding: 0 12px;
    }
  }

  .btn {
    padding: 14px 35px;
  }

  .btn-order {
    padding: 20px 100px;
    float: right;
  }

  .products-total {
    font-size: 24px;
    color: @gray-color;
    font-weight: 600;
    text-transform: uppercase;
  }

  .products-total-price {
    font-size: 24px;
    color: @blue-color;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.news-list {
  &__news {
    width: 470px;
    margin-bottom: 50px;

    .news__image {
      background-color: rgb(231, 231, 231);
      height: 300px;
      margin-bottom: 30px;
      background-repeat: no-repeat;
      background-position: center;

      img {
        opacity: 0;
      }
    }

    .news__title {
      font-size: 24px;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 25px;
      color: @gray-color;
      display: inline-block;

      &:hover {
        color: @blue-color;
      }
    }

    .news__preview {
      font-size: 16px;
      margin-bottom: 25px;
    }

    .news__link {
      color: @blue-color;

      &:hover {
        color: @gray-color;
      }
    }
  }
}

.news__date {
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: normal;
}

.news-detail {
  &__text {
    margin-bottom: 50px;
  }
}

#yamap {
  margin-bottom: 50px;
}

.contacts {
  p {
    font-size: 14px;
  }

  .contact {
    &-tel {
      font-weight: 600;
      font-size: 18px;
      color: @gray-color;

      &:hover {
        color: @blue-color;
      }
    }

    &-mail {
      color: @blue-color;
      font-size: 12px;

      &:hover {
        color: @gray-color;
      }
    }
  }
}

.vacancy {
  .tabs.vertical {
    .tabs__caption {
      li {
        margin: 0;
        color: @gray-color;
        font-size: 24px;
        font-weight: 600;
        border-bottom: none;
        padding-right: 80px;
        margin: 30px 0;

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-botom: 0;
        }

        span {
          font-size: 30px;
        }

        &.active {
          color: @blue-color;
          background-image: url("../img/arrow-vacancy.png");
          background-position: right center;
          background-repeat: no-repeat;
          background-size: contain;
        }

        &:hover {
          color: @blue-color;
        }
      }
    }
  }
  .tabs__content {
    p {
      text-transform: uppercase;
    }
  }
}
